{% extends 'base.html.twig' %}

{% block title 'Doubles & presques doubles' %}

{% block body %}
	<div class="jumbotron text-center">
		<h1>Doubles & presques doubles</h1>
		<p></p>
	</div>

	<div class="container">
		<h2>
			Quelques listes
		</h2>
		<div class="row flex">
			{% for ldouble in ldoubles %}
				<div class="col-3">
					{% include "/listdouble/_listdouble.html.twig" %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
