{% extends "base.html.twig" %}

{% block body %}

	<div class="container mt-4">
		<h1>
			ID :
			{{ ldouble.id }}</h1>
		<div class="jumbotron row">
			{% for double in ldouble.couples %}
				<div class="col-md-4">
					{{ include("/property/_double.html.twig") }}
				</div>
			{% endfor %}
		</div>
	</div>

{% endblock %}

{% block title %}{% endblock %}
