{% extends "base.html.twig" %}

{% block body %}
	<div class="container mt-4">
		<h1>Editer la liste</h1>
		{{ include("admin/listdouble/_form.html.twig", {form: form, button: "Editer"}) }}
	</div>
{% endblock %}
