{% extends "base.html.twig" %}

{% block body %}
    <div class="container mt-4">
		<h1>Ajouter une liste</h1>
		{{ include("admin/listdouble/_form.html.twig", {form: form, button: "Nouveau"}) }}
	</div>
{% endblock %}